<p class="claim">
  beerconf helps to make runconf harder<br/>
  <span class="small">(much harder)</span>
</p>

<% if @upcoming_races.any? %>
  <h1>Upcoming Races</h1>

  <ul>
    <% @upcoming_races.each do |race| %>
      <li><%= link_to race.name, race, class: 'race' %></li>
    <% end %>
  </ul>
<% end %>